@import 'posters';
@import 'poster';
@import 'loader';
@import 'sessions';
@import 'booking';
@import 'search';

.title {
  padding-left: 20px;
  padding-right: 20px;
}

button.disabled {
  pointer-events: none;
  opacity: .5;
}